<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

<body>
    <% if (typeof user === "undefined") { %>
        <%- include('./partials/navbar-notlogin.ejs', {page: 0}) %>
    <% } else { %>
        <%- include('./partials/navbar.ejs', {page: 0}) %>
    <% } %>
    
    <div class="container-fluid">        
        <h1>Welcome to my website</h1>

        <div class="row mx-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum dui faucibus in ornare quam. Fringilla urna porttitor rhoncus dolor purus non. Dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu. Eu scelerisque felis imperdiet proin fermentum leo vel orci porta. Cursus sit amet dictum sit amet justo. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci. Erat nam at lectus urna duis convallis. Mauris augue neque gravida in fermentum. Eget gravida cum sociis natoque penatibus et magnis dis. Euismod quis viverra nibh cras pulvinar mattis.
        </div>

        <%- include('./partials/footer.ejs') %>
    </div>
</body>

</html>